<div class="container">
  <div class="actions">
    <span color="primary"
          mat-raised-button
          class="create-customer-btn"
          (click)="onCreateCustomerClick()">CREATE NEW CUSTOMER</span>
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput
             (keyup)="applyFilter($event)"
             placeholder="Ex. ium"
             #input>
    </mat-form-field>
  </div>
  <table mat-table
         matSort
         [dataSource]="dataSource"
         (matSortChange)="sortData($event)"
         class="mat-elevation-z8">
    <!--  First Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell
          mat-sort-header
          sortActionDescription="Sort by number"
          *matHeaderCellDef> First Name </th>
      <td mat-cell
          *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- Surname Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell
          mat-sort-header
          *matHeaderCellDef> Surname </th>
      <td mat-cell
          *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell
          mat-sort-header
          *matHeaderCellDef> Email </th>
      <td mat-cell
          *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Cellphone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell
          mat-sort-header
          *matHeaderCellDef> Cellphone </th>
      <td mat-cell
          *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <!--  Invoice Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell
          mat-sort-header
          *matHeaderCellDef> Invoice Total </th>
      <td mat-cell
          *matCellDef="let element"> {{element.balance}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell
          *matHeaderCellDef> Action </th>
      <td mat-cell
          *matCellDef="let element">
        <div class="btn-action">
          <span class="span-btn view-btn"
                (click)="onViewClick(element)">View</span> |
          <span class="span-btn delete-btn"
                (click)="onDeleteClick(element.id)">Delete</span>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
