.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-top: 50px;
  padding: 10px;
}

.actions{
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 15px;
}

.header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 250px;
}

table {
  width: 100%;
  overflow: auto;
}

.span-btn{
 cursor: pointer;
 color: dodgerblue
}
.create-customer-btn{
  color: green;
  padding-top: 30px;
  cursor: pointer;
}
