<mat-toolbar color="primary"
             class="app-header">
  <div><a href="#"
       class="positronx">BET</a></div>

  <span class="nav-tool-items">
    <a mat-button
       routerLinkActive="active">Home</a>
  </span>
</mat-toolbar>
