<form [formGroup]="formGroup"
      (ngSubmit)="onSubmit(formGroup.value)"
      class="form-container"
      novalidate>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Customer Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <ng-container *ngFor="let type of customerTypes">
              <mat-option [value]="type.id">{{type.type}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="!formGroup.controls['type'].valid && formGroup.controls['type'].touched">
            {{ getError('type')}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput
                 placeholder="Email"
                 formControlName="email">
          <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
            {{ getError('email')}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="full-width">
          <input matInput
                 placeholder="First Name"
                 formControlName="name">
          <mat-error *ngIf="!name.valid && name.touched">
            {{ getError('name')}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput
                 placeholder="Last Name"
                 formControlName="surname">
          <mat-error *ngIf="!formGroup.controls['surname'].valid && formGroup.controls['surname'].touched">
            {{ getError('surname')}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="form-element">
          <input pattern="[0-9.]+"
                 matInput
                 minlength="10"
                 maxlength="10"
                 placeholder="Cellphone"
                 formControlName="phone">
          <mat-error *ngIf="!formGroup.controls['phone'].valid && formGroup.controls['phone'].touched">
            {{ getError('phone')}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput
                 pattern="[0-9.]+"
                 placeholder="Invoce Total"
                 formControlName="total">
          <mat-error *ngIf="!formGroup.controls['total'].valid && formGroup.controls['total'].touched">
            {{ getError('total')}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="actions">
        <a mat-raised-button color="accent" routerLink="/home">BACK TO LIST</a>
        <button mat-raised-button
                color="primary"
                type="submit"
                class="button"
                [disabled]="!formGroup.valid"
                (click)="onSUbmit()">SAVE</button>
      </div>
    </mat-card-content>
  </mat-card>

</form>
