.full-width{
  width: 100%;
}

.top-padding{
  padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
  margin-left:10px;
}

.form-container{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex: 1;
}

.actions{
  display: flex;
}

button{
  margin-left: 5px;
}

